.header
  = render "header"
.contents
  .left-content
    .sidebar__title
      ="ようこそ、#{current_user.nickname}さん"
    .sidebar__title
      商品を出品する
      .list-group
        .list-group__menu
          =link_to new_item_path do
            商品を出品する
        .list-group__menu
          =link_to root_path do
            出品した商品
    .sidebar__title
      設定
      .list-group
        .list-group__menu
          =link_to cards_path do
            クレジットカードの登録・削除
        .list-group__menu
          =link_to destroy_user_session_path, method: :delete do
            ログアウト
  .right-content
    .main__title
      閲覧した商品
    .item-list
      .item-list__box
        =image_tag "icon_camera.png", class: "item-list__box--image"
        .item-list__box--text
          .item-list__box--text--name
            カレー
          .item-list__box--text--price
            1700円
      .item-list__box
        =image_tag "icon_camera.png", class: "item-list__box--image"
        .item-list__box--text
          .item-list__box--text--name
            おにぎり
          .item-list__box--text--price
            1700円
      .item-list__box
        =image_tag "icon_camera.png", class: "item-list__box--image"
        .item-list__box--text
          .item-list__box--text--name
            ステーキ
          .item-list__box--text--price
            1700円
      .item-list__box
        =image_tag "icon_camera.png", class: "item-list__box--image"
        .item-list__box--text
          .item-list__box--text--name
            うどん
          .item-list__box--text--price
            1700円
      .item-list__box
        =image_tag "icon_camera.png", class: "item-list__box--image"
        .item-list__box--text
          .item-list__box--text--name
            ハンバーガー
          .item-list__box--text--price
            5000円
.fotter
  = render "fotter"
