* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 140px;
  background-color: #ffffff;
  border-bottom: 1px solid #777777;
  &__top{
    display: flex;
    justify-content: space-around;
    height: 70px;
    line-height: 70px;
    padding: 20px 5px 0 20px;
    margin: 0 auto;
    &--logo{
      img{
      width: 220px;
      height: 50px;
      padding-left: 20px;
      }
    }
    &--search{
      display: flex;
      position: relative;
      &__text{
        width: 400px;
        height: 50px;
        margin-right: 10px;
        padding-left: 15px;
      }
      .fas{
        position: absolute;
        font-size: 20px;
        right: 20px;
        line-height: 50px;
        text-decoration: none;
        color: gray;
      }
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding: 20px 5px 0 20px;
    line-height: 40px;
    margin: 0 auto;
    a{
      text-decoration: none;
      color: black;
    }
    &__search{
      display: flex;
      align-items: center;
      :hover{
        color: red;
        transition: 0.5s;
      }
      &--category{
        padding: 0 20px;
        border-right: 1px solid #777777;
        display: block;
      }
      &--brand{
        padding: 0 20px;
        display: block;
      }
    }
    &__mypage{
      display: flex;
      padding: 0 20px 0 10px;
      margin-left: 5px;
      :hover{
        color: red;
        transition: 0.5s;
      }
      img{
        width: 32px;
        height: 32px;
        margin: 5px;
      }
    }
  }
}

.contents {
  display: flex;
  height: calc(100vh - 140px);
  .left-content{
    width: 40%;
    background-color: white;
    overflow: scroll;
    padding-top: 15px;
    .sidebar__title{
      font-size: 24px;
      margin: 0 0 10px;
      padding-bottom: 5px;
      text-align: center;
      .list-group{
        width: 280px;
        margin: 0 auto;
        margin-top: 5px;
        &__menu{
          border: 1px solid #212121;
          background-color: honeydew;
          margin-bottom: -1px;
          padding: 10px 15px;
          font-size: 18px;
          cursor: pointer;
          a{
            text-decoration: none;
            color: black;
            display: block;
          }
        }
      }
    }
  }
  .right-content{
    width: calc(100vw - 40%);
    background-color: palegreen;
    padding: 30px;
    text-align: center;
  }
}