.out-frame{
  text-align: center;
  background-color: whitesmoke;
  &__header{
    width: 300px;
    height: 100px;
    line-height: 100px;
    margin-left: 80px;
    &--img{
      height: 50px;
      width: 175px;
      vertical-align: middle;
    }
  }
  
  .new_user{
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &__head{
      padding: 30px;
      font-size: 25px;
      font-weight: bold;
      border-bottom: 1px solid;
    }
    .user_form{
      width: 343px;
      margin: 0 auto;
      margin-top: 20px;
      .field{
        margin: 0px;
        margin-bottom: 20px;
        .field_with_errors{
          display: contents;
        }
        .item{
          text-align: left;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 5px;
          .required{
            background-color: red;
            height: 30px;
            color: white;
            font-size: 14px;
            padding: 2px 4px;
            border-radius: 2px;
          }
        }
        .input-form{
          padding: 5px 8px;
          height: 48px;
          width: 100%;
          font-size: 18px;
          border: 1px solid #cccccc;
          border-radius: 4px;
        }
        .input-name{
          width: calc(50% - 3px);
        }
        .year,.month,.day{
          padding: 1px 8px;
          height: 48px;
          width: calc(82%/3 - 3px);
          margin-left: 2px;
          border: 1px solid #cccccc;
          border-radius: 4px;
          cursor: pointer;
        }
        .error-message{
          text-align: left;
          color: red;
        }
      }
      .submit-btn{
        height: 40px;
        width: 100%;
        margin: 20px 0 40px;
        background-color: red;
        color: white;
        border-radius: 4px;
        border: 0px;
        cursor: pointer;
      }
    }
  }
  .footer{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    .render-btn{
      margin-left: 20px;
      color: black;
      text-decoration: none;
      padding: 10px;
      border: 1px solid;
      background-color: whitesmoke;
      border-radius: 4px;
    }
  }
}
