* {
  box-sizing: border-box;
}


.wrapper{
  position: relative;
  width:100%;
  height:100%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
  font-size: 35px;
  text-align: center;
img{
  height:80px;
  margin: 0 auto;
  }
}


.items{
  max-width: 700px;
  height:80%;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
&__box{
  font-size: 15px;
  border-bottom: 1px solid;
  border-color: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 700px;
&--list{
  display: flex;
    }
  }
}
.name{
  text-align: left; 
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.need{
  color:#ffffff;
  background-color:rgba(255, 0, 0, 0.822) ;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: left; 
  margin-left: 15px;
}

.fa.fa-camera{
  margin-top: 40px;
  font-size: 20px;
}

.items__box--image{
  width:500px;
  height: 150px;
  background-color:  #e0e0e0;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
input{
  display: none;
}}
.items__box--image p{
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 0px;
  text-align: center;
}

.items__box--normal{
  width:500px;
  height:40px;
  border-radius: 10px;
}

.parent--category{
  width:500px;
  height:40px;
  border-radius: 10px;
}

.items__box--large{
  width:500px;
  height:150px;
  border-radius: 10px;
}

 .items__footer{
  width:100%;
  height:150px;
  padding-top: 20px;
  background-color: #f8f8f8;
 }

 .submit-box{
   background-color: rgba(255, 0, 0, 0.822);
   height: 60px;
   width:210px;
   color: #ffffff;
   border-radius: 10px;
 }
 
 .edit-box{
  background-color: #f8f8f8;
  height: 60px;
  width:210px;
  border-radius: 10px;
 }

 p.items__box--back {
   margin-top: 30px;
 }

 .wrapper{
  position: relative;
  width:100%;
  height:100%;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
  font-size: 35px;
  text-align: center;
img{
  height:80px;
  margin: 0 auto;
  margin-bottom: 30px;
  }
}


 .items__check--box{
   width:375px;
   height:100px;
   margin: 0 auto;
   margin-top: 15px;
   border-bottom: 2px solid;
   border-color: #f8f8f8;
   display: flex;
 p{
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 0px;
  text-align: center;
 }
}

.items{
  max-width: 700px;
  height:80%;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0 auto;
&__check{
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 700px;
&--title{
  height:30px;
  font-weight: bold;
  font-size: 20px; 
     }
    }
}

.items__check--box--image{
  margin-right: 30px;
img{
  width: 80px;
  height:80px;
  }
}

.check{
  margin-left: 80px;
  font-size:8px;
}

.items__check--pay{
  width:375px;
  height:50px;
  margin: 0 auto;
  margin-top: 0;
  line-height:10px;
  border-bottom: 2px solid;
  border-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
span{
  font-weight: bold;
  font-size: 20px;
  }
}

.items__check--payment{
  width:375px;
  height:45px;
  margin:0 auto;
  border-bottom: 2px solid;
  border-color: #f8f8f8;
  text-align: left;
  line-height: 20px;
p{
  font-weight: bold;
  }
}


.items__check--payment a{
  text-decoration:none;
  margin-left:10px;
  color:rgb(0, 149, 238);
}

.item_input__body__category#category_box{
    width:500px;
    height:40px;
    border-radius: 10px;
}

.parent_category_box{
  width:500px;
  height:40px;
  border-radius: 10px;
}

.image-file{
  width:200px;
  height:150px;
  font-size:10px;
  margin-left:100px;
  
}

.js-file{
  font-size:10px;
}

#children_category{
  width:500px;
  height:40px;
  border-radius:10px;
  margin-top:10px;
  margin-bottom:10px;
}

#grandchildren_category{
  width:500px;
  height:40px;
  border-radius:10px;
}