.image
  = image_tag 'logo.png', class: "out-frame__header--img"
  - if user_signed_in?
    .log-out
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
  - else
    .log-in
      = link_to "ログイン", new_user_session_path, class: 'btn post'
    .sign-up
      = link_to "新規会員登録", new_user_registration_path, class: 'btn post'