.destroy
  .destroy__message
    削除が完了しました。
  %ul.destroy__frame__btns
    %li.credit_card_new_link
      = link_to "クレジットカード新規登録", cards_path, class: "card__btn"
    %li.my_page_link
      = link_to "マイページに戻る", users_path(current_user.id), class: "card__btn"