.header-logo
  = image_tag 'logo.png'
.title
  カード情報を削除しました

.menu
  = button_to "新規登録する", new_card_path, method: :get, class: "card__btn"
  = button_to "マイページに戻る", users_path, method: :get, class: "card__btn"